In [27]:
import pandas as pd
# Load dataset (adjust the path as needed)
df = pd.read_csv("marketing_campaign.csv", delimiter='\t')

# Step 1: Check for missing values
print("Missing values before cleaning:\n", df.isnull().sum())

# Step 2: Remove duplicate rows
duplicates = df.duplicated().sum()
print(f"Duplicate rows before removal: {duplicates}")
df = df.drop_duplicates()

# Step 3: Standardize text columns
df['Education'] = df['Education'].str.strip().str.title()
df['Marital_Status'] = df['Marital_Status'].str.strip().str.title()

# Step 4: Convert 'Dt_Customer' to datetime format (dd-mm-yyyy)
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], dayfirst=True)

# Step 5: Rename columns to lowercase and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Step 6: Check and fix data types (if needed)
# You can enforce specific conversions if necessary, e.g.:
# df['income'] = df['income'].astype(float)

# Step 7: Summary of final data
print("\nMissing values after cleaning:\n", df.isnull().sum())
print(f"Final dataset shape: {df.shape}")
print("\nCleaned dataset preview:\n", df.head())

# Step 8: Save cleaned data
df.to_csv("marketing_campaign_cleaned.csv", index=False)
print("\n✅ Cleaned dataset saved as 'marketing_campaign_cleaned.csv'")

Missing values before cleaning:
 ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64
Duplicate rows before removal: 0

Missing values after cleaning:
 id                      0
year_birth              0
education               0
marital_status          0
income                 24
kidhome                 0
teenhome                0
dt_customer             0
recency                 0
mntwines                0
mntfruits               0
mntmeatproducts         0
mntfishproducts         0
mntsweetproducts        0
mntgoldprods            0
numdealspurchases       0
numwebpurchases         0
numcatalogpurchases     0
numstorepurchases       0
numwebvisitsmonth       0
acceptedcmp3            0
acceptedcmp4            0
acceptedcmp5            0
acceptedcmp1            0
acceptedcmp2            0
complain                0
z_costcontact           0
z_revenue               0
response                0
dtype: int64
Final dataset shape: (2240, 29)

Cleaned dataset preview:
      id  year_birth   education marital_status   income  kidhome  teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         Phd        Married  58293.0        1         0

  dt_customer  recency  mntwines  ...  numwebvisitsmonth  acceptedcmp3  \
0  2012-09-04       58       635  ...                  7             0
1  2014-03-08       38        11  ...                  5             0
2  2013-08-21       26       426  ...                  4             0
3  2014-02-10       26        11  ...                  6             0
4  2014-01-19       94       173  ...                  5             0

   acceptedcmp4  acceptedcmp5  acceptedcmp1  acceptedcmp2  complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   z_costcontact  z_revenue  response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]

✅ Cleaned dataset saved as 'marketing_campaign_cleaned.csv'

In [9]:
import pandas as pd

# Load dataset (adjust the path as needed)
df = pd.read_csv("marketing_campaign.csv", delimiter='\t')
# Step 1: Check for missing values
print("Missing values before cleaning:\n", df.isnull().sum())

Missing values before cleaning:
 ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [7]:
# Step 2: Remove duplicate rows
duplicates = df.duplicated().sum()
print(f"Duplicate rows before removal: {duplicates}")
df = df.drop_duplicates()

Duplicate rows before removal: 0

In [15]:
# Step 3: Standardize text columns
df['Education'] = df['Education'].str.strip().str.title()
df['Marital_Status'] = df['Marital_Status'].str.strip().str.title()

In [17]:
# Step 4: Convert 'Dt_Customer' to datetime format (dd-mm-yyyy)
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], dayfirst=True)

In [19]:
# Step 5: Rename columns to lowercase and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [21]:
# Step 6: Check and fix data types (if needed)
# You can enforce specific conversions if necessary, e.g.:
# df['income'] = df['income'].astype(float)

In [23]:
# Step 7: Summary of final data
print("\nMissing values after cleaning:\n", df.isnull().sum())
print(f"Final dataset shape: {df.shape}")
print("\nCleaned dataset preview:\n", df.head())

Missing values after cleaning:
 id                      0
year_birth              0
education               0
marital_status          0
income                 24
kidhome                 0
teenhome                0
dt_customer             0
recency                 0
mntwines                0
mntfruits               0
mntmeatproducts         0
mntfishproducts         0
mntsweetproducts        0
mntgoldprods            0
numdealspurchases       0
numwebpurchases         0
numcatalogpurchases     0
numstorepurchases       0
numwebvisitsmonth       0
acceptedcmp3            0
acceptedcmp4            0
acceptedcmp5            0
acceptedcmp1            0
acceptedcmp2            0
complain                0
z_costcontact           0
z_revenue               0
response                0
dtype: int64
Final dataset shape: (2240, 29)

Cleaned dataset preview:
      id  year_birth   education marital_status   income  kidhome  teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         Phd        Married  58293.0        1         0

  dt_customer  recency  mntwines  ...  numwebvisitsmonth  acceptedcmp3  \
0  2012-09-04       58       635  ...                  7             0
1  2014-03-08       38        11  ...                  5             0
2  2013-08-21       26       426  ...                  4             0
3  2014-02-10       26        11  ...                  6             0
4  2014-01-19       94       173  ...                  5             0

   acceptedcmp4  acceptedcmp5  acceptedcmp1  acceptedcmp2  complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   z_costcontact  z_revenue  response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]

In [25]:
# Step 8: Save cleaned data
df.to_csv("marketing_campaign_cleaned.csv", index=False)
print("\n✅ Cleaned dataset saved as 'marketing_campaign_cleaned.csv'")

✅ Cleaned dataset saved as 'marketing_campaign_cleaned.csv'